* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}
.questions, .question {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
   
}
#resultado{
    display: none;
    flex-direction: column;
    align-items: center;
}
.imagem {
    width: 320px;
    height: 304px;
}

.active {
    display: flex;
}

.hidden {
    display: none;
}
